# Atualizações
#### Versão 1.1.0 - 25/07/25
- Novo:
- Atualização:
- Corrigido:
- Segurança:
- Removido:
> **Nota:** A **sincronização de notificação** está desativada se não houver arquivo para sincronizar.

##
#### Versão 1.0.12 - 23/07/25
- Novo:
- Segurança:
##

	 FALE CONOSCO
Para mais informações, entre em [contato.](https://housecriative.com.br/contato)
